.amrothPic {
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
}

.tenbyPic {
    height: 25vh;
}
.albertPic {
    height: 25vh;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
